<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- PRD: Offline total - No INTERNET permission -->

    <application
        android:name=".SIMWargaApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIMWarga">

        <!-- Splash / Entry Screen -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.SIMWarga.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- PIN Screen -->
        <activity
            android:name=".ui.PinActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Screen -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
